.search-group {
    .search-input {
        display: flex;
        align-items: center;
        margin-bottom: $distanceComponent;

        .input-label {
            font-weight: bold;
            margin-right: 6px;
            width: 130px;
            white-space: nowrap;
            text-align: right;
        }

        .input-value {
            width: 100%;
        }
    }

    .search-button{
        text-align: center;
        margin-bottom: $distanceComponent;
    }
}

.action-group {
    text-align: right;
    margin-bottom: $distanceComponent;
}